* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  overflow-x: hidden;
}
/* ..........................header................................ */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  padding: 10px;
  z-index: 10;
}

nav .logo {
  font-size: 22px;
  letter-spacing: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links a li {
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 17px;
}
.nav-links a {
  text-decoration: none;
  color: black;
}
.nav-links a:hover {
  color: rgb(255, 0, 0);
}
.burger {
  display: none;
}
.burger div {
  background-color: rgb(0, 0, 0);
  width: 40px;
  height: 3px;
  margin: 5px;
  transition: 0.5s ease;
}
.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px;
}
/* .........................end of header..................................... */
#illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 10px 0px red;
}
#illustration img {
  width: 200px;
  height: 250px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

/* .........................git works..............    */
.gitwork {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#gittext {
  text-align: center;
  font-size: 2.5rem;
  color: white;
}
.work h3 {
  margin: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
}
button {
  border: none;
  padding: 10px;
  border-radius: 10%;
  margin: 20px;
  background: transparent;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
button:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.6s;
}
.gitwork .work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  box-shadow: 10px 0px 20px rgb(255, 0, 0);
}

/* ..............................footer............... */
.menub {
  width: 100%;
  padding: 24px;
  background: #ffffff;

  text-align: center;

  box-shadow: 0px 5px 20px rgb(255, 0, 0);
  letter-spacing: 5px;
  text-transform: uppercase;
}
.menub a {
  text-decoration: none;
}
.menub li {
  list-style: none;
  color: rgb(255, 0, 0);
}
.menub li:hover {
  color: #ffd30f;
}

.menub .links i:hover {
  color: #ffd30f;
}

/* ...........................media query............................ */
@media (max-width: 1200px) {
  .nav-links {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .nav-links {
    width: 60%;
  }
  .nav-links li {
    font-size: 15px;
    color: black;
  }

  body {
    overflow-x: hidden;
  }

  #pic {
    opacity: 1;
  }
  #illustration img {
    width: 150px;
    height: 200px;
    margin-left: 50px;
    align-items: center;
  }
  .text {
    margin-left: 50px;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    margin-top: 100px;
    font-size: 20px;
  }

  /* ..........................git work....................... */
  .gitwork {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: auto;
  }

  #gittext {
    font-size: 30px;
    color: rgb(255, 0, 0);
  }
  button {
    border: none;
    padding: 10px;
    border-radius: 10%;
    margin: 20px;
    background: transparent;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  button:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
  }
  .gitwork .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 10px 20px rgb(255, 0, 0);
    font-size: 15px;
  }
  .gitwork .work img {
    width: 200px;
    height: 200px;
  }
  /* ...............................footer................. */
}

@media (max-width: 480px) {
  .nav-links {
    position: absolute;
    top: 8vh;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    width: 100%;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.7s ease;
  }
  .nav-links li {
    font-size: 15px;
    color: black;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }
  .top {
    display: grid;
    grid-template-columns: 1fr;
  }
  .text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 200px;
    height: 150px;
    margin-top: 0px;
  }
  #illustration {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0px 5px rgb(255, 255, 255);
  }
  #illustration img {
  }

  /* ..........................git work....................... */
  .gitwork {
    display: grid;
    grid-template-columns: 1fr;
  }

  button:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
  }

  .menub {
    height: 30vh;

    background: #ffffff;

    text-align: center;

    box-shadow: 20px 5px 20px rgb(255, 0, 0);

    font-size: 10px;
    padding: 20px;
  }
  .menub a {
    text-decoration: none;
  }
  .menub li {
    list-style: none;
    color: rgb(255, 0, 0);
  }
  .menub li:hover {
    color: #000000;
  }

  .menub .links i:hover {
    color: #000000;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
